body {
    background-color: white;
    width: 1920px;
    height: 1080px;
}

.content {
    max-width: 1200px;
    margin: 56px auto 0 auto;
}

footer {
    color: #ffebc1;
    bottom: 0;
    margin-top: 38px;
}

.content .sub-title {
    color: #f4b124;
}

.content button {
    margin-bottom: 10px;
}

/** badge */
.badge {
    width: 230px;
    padding: 10px 0;
    background-color: inherit;
 }

 .badge > a {
    float: left;
    padding: 0 !important;
    margin-left: 10px;
 }

 .badge .donate-btn {
    width: 100px;
    height: auto;
 }
 
 /** image list */
 .component-list {
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 4px;
    background: #fff;
}

.xefu-btn {
    display: inline-block;
    *display: inline;
    margin: 0;
    padding: 0 12px!important;
    height: 24px!important;
    overflow: visible;
    border: 1px solid #bbb;
    border-radius: 2px;
    text-decoration: none!important;
    text-align: center;
    vertical-align: top;
    line-height: 24px!important;
    font-family: inherit;
    font-size: 12px;
    color: #333;
    *zoom: 1;
    cursor: pointer;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
    background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
    background-image: -webkit-gradient(top,#ffffff,#e6e6e6);
    background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
    background-image: linear-gradient(top,#ffffff,#e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.component-list .files-text {
    display: inline-block;
    margin: 0 -12px!important;
    padding: 0 12px!important;
    overflow: visible;
    width: auto;
    height: 24px;
    border: 0;
    vertical-align: top;
    text-decoration: none!important;
    line-height: 24px;
    font-family: inherit;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    background: 0 0;
}

.component-list .files-input {
    position: absolute;
    width: 112px;
    left: 14px;
    top: 57px;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px!important;
    direction: ltr;
    cursor: pointer;
}

.component-list * {
    font-size: 13px;
    box-sizing: border-box;
}

.component-list button {
    margin: 0 !important;
}

.component-list .file-list-info {
    float: left;
    white-space: nowrap;
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #ccc;
}

.component-list .file-list-info span {
    display: block;
    width: 100%;
    margin: 12px 0;
}

.component-list .file-list-info .total-size {
    color: #333;
}

.component-list .file-list {
    padding: 0 0 0 0;
    margin: 0 0 0 10px;
    border: none;
}

.component-list .file-list ul {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.component-list .file-list ul li {
    position: relative;
    display: inline-block;
    margin: 3px;
    width: 60px;
    height: auto;
    border: 3px solid #fff;
}

.component-list .file-list ul li .image-wrapper {
    width: 54px;
    height: auto;;
}

.component-list .file-list ul li.checked {
    border: 3px solid #dc3545;
}

.component-list .file-list ul li img {
    width: 100%;
    height: auto;
}

.component-list .file-list ul li .image-size {
    color: #666;
    font-size: 10px;
}

.component-list .file-list ul li .image-check {
    position: absolute;
    height: 12px;
    width: 12px;;
    top: 0;
    left: auto;
    right: 0;
    margin: 0;
    padding: 1px 0 1px 2px;
    border: 0;
    border-radius: 0 0 0 5px;
    outline: none;
    background-color: #dc3545;
}

.component-list .file-list ul li.checked .image-check {
    display: block;
}

.component-list .file-list ul li:not(.checked) .image-check {
    display: none;
}

.component-list .file-list ul li .image-check svg {
    display: inline-block;
    font-size: 10px;
    height: 1em;
    width: 1em;
    overflow: visible;
    vertical-align: 0.875em;
    margin: 0;
    padding: 0;
    color: #fff;
}

/** video */
.component-list .component-file-list {
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 10px;
    border: none;
}
.component-list .component-file-list ul {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}
.component-list .component-file-list ul li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 24px;
    margin: 0;
    border: 0;
    overflow: hidden;
}
.component-list .component-file-list ul li button{
    width: 30px;
    height: 24px;
    padding: 0;
}
.component-list .component-file-list ul li a{
    color: #333;
}